### GENERAL STUFF
*.properties
*.log

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/
*.code-workspace

### BACKEND STUFF
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### FRONTEND STUFF
# dependencies
node_modules/
**/.pnp
.pnp.js

# testing
/coverage

# production
/build

# environment
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
