/**
 * @author Shawntaria Burden, Sebastian Fierros, Ethan Edmond, Tyler Daniel
 */

 .RequestList {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .RequestList * {
     color: black;
 }

 .RequestListHeaderContainer {
     
 }