/*Colors Used: 
Gold: d3a940;
MoneyGreen: 3d703a;
Dark Green: 3e4f3d;  // shadows under navbad
Light Green: 6c896a;
"Black": 4c4c4b;
*/

body {
	background-color: #3d703a;
	margin: 0px;
	width: 100%;
	height: 100%;
}

html {
	font-size: 12px;
	font-family: "Arial";
	height: 100%;
}

#main-page {
	background-color: #3d703a;
	width: 50%;
	height: 100%;
	margin:auto;
	text-align: center;


}


