/*Colors Used: 
Gold: d3a940;
MoneyGreen: 3d703a;
Dark Green: 3e4f3d;  // shadows under navbar
Light Green: 6c896a;
"Black": 4c4c4b;
*/

/* Note for more specific views: make a container div and style that instead */
/* Naming conventions - try to make it detailed/consistent to prevent duplicate entries
(ex. account-container, account-button, account-link) */

/*
---------
CTRL + F:
---------
lvfull (Login Views - Signin and Register)
svfull (Splash View)
regfull (Registration)
navfull (Navbar)
nmfull (Navigation Mockup)
nfvfull (Not Found View / 404 page)
mqfull (Media Queries)
mvfull (Main Views)
cafull (Create Account)
----------------------------------------------------------
Change "full" to desired media query max-width (sans "px")
----------------------------------------------------------
*/

/* Use this for all the general element tags, or things affecting the whole application */
:root {
	--light-element: #fff;
	--grey-charcoal: #4c4c4b;
	--gold-bullion: #d3a940;
	--gold-flake: #f6ba65;
	--green-dinero: #3d703a;
	--green-light-tender: #6c896a;
	--green-dark-wallstreet: #3e4f3d;
	--red-error: #cc3040;
}

body {
	margin: 0px;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Generic button for any button - note that colors change on diff views */
button,
input[type="submit"] {
	width: 200px;
	height: 60px;
	border: 0px;
	border-radius: 10px;
	font-size: 2.5rem;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	cursor: pointer;
}

.container-view {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

html {
	font-size: 12px;
	font-family: "Arial";
	height: 100%;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.logo-bigger {
	font-family: "Cinzel", serif;
	font-size: 8em;
	margin: auto;
}

.logo-smaller {
	font-family: "Cinzel", serif;
	font-size: 4em;
	/* text-shadow: -2px 4px 0px #d3a940; */
	margin: 0px;
}

.subheader-centered {
	text-align: center;
	padding: 0;
}

/* (old) "Main" views - MainPageView, AccountsView, TransferView */
.main-container-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	height: 100%;
	margin: auto;
}

/* RegisterView */
/*
#register-page-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	background-color: #3d703a;
	padding: 30px;
	border-radius: 20px;
} */

#register {
	font-size: 3em; /* ~36px */
}

/* Login views - Signin and Registration lvfull */
.login-outer-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.login-inner-container {
	display: flex;
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	justify-content: center;
	column-gap: 0px;
}

/* contains the cachemoney header and white-box */
.login-content-box {
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	width: 80%;
}

.login-white-box {
	min-height: 500px;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	padding: 30px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.login-white-box-column {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	row-gap: 5px;
	margin-left: auto;
	margin-right: auto;
}

.login {
	width: 100%;
	font-size: 2.5rem;
	box-shadow: none;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}

#login-theme-button {
	position: absolute;
	width: 240px;
	height: 36px;
	top: 10px;
	font-size: 18px;
}

.login-outer-container input[type="text"],
.login-outer-container input[type="password"] {
	width: 100%;
	height: 5vh;
	margin-bottom: 20px;
}

/* login error content */

#login-error-box {
	font-size: 30px;
	margin-bottom: 18px;
}

#registration-error {
	font-size: 24px;
}

.error-container {
	margin-bottom: 24px;
}

/* 
Registration needs some special overrides - leave this as is 
regfull 
*/
#register-white-box {
	font-size: 2rem;
	row-gap: 5px;
}

#registration-name-boxes {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

input[type="text"],
input[type="password"] {
	padding-left: 15px;
	font-size: 20px;
}

.reg-name-box {
	width: 45%;
}

#register-button {
	width: 100%;
}

#register-theme-button {
	position: absolute;
	width: 240px;
	height: 36px;
	top: 10px;
	font-size: 18px;
}

/* this may get used by more than the registration page */

.detail-text {
	font-size: 1rem;
	display: inline;
}

.err-desc {
	font-size: 1rem;
	display: block;
	margin: 2px 0;
	color: var(--red-error);
}

/* Signin view end */

/* Splash View svfull */

#splash-mode-container {
	position: absolute;
	top: 20px;
	left: 5vw;
}

.toggle-button {
	font-size: 18px;
	width: 180px;
	height: 48px;
}

#splash-outer-container {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#splash-inner-container {
	width: 100%;
	height: 40vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
	text-align: center;
}

#splash-right {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

/* select any button on splash screen*/
#splash button,
#splash-button input[type="submit"] {
	width: 200px;
	height: 50px;
	border-radius: 10px;
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
}

#welcome {
	font-size: 4em; /* ~48px */
}

#register-here {
	font-weight: 700;
}

/* FOOTER STUFF fsfull */

.footer {
	grid-area: footer;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 30px;
}

#column-container {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 12px;
	height: 100%;
}

.column {
	/* float: left; */
	width: 20%;
	/*padding: 20px; */
}

#footer-logo-container {
	display: flex;
	width: 90%;
	justify-content: flex-end;
	margin-bottom: 24px;
}

/*.row:after {
	content: "";
	display: table;
	clear: both; 
}*/

/* END FOOTER STUFF */

/* Navbar navfull */

.breadcrumb {
	list-style-type: none;
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.breadcrumb-item {
	display: inline;
}
.breadcrumb-item > a {
	text-decoration: none;
}

#top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 23px;
}

/* End navbar */

/* main-view-2 */
/* "Main" views - MainPageView, AccountsView, TransferView mvfull */
.main-page-container {
	display: grid;
	grid-template-areas:
		"header header"
		"navigation navigation"
		"main main"
		"footer footer";
	grid-template-columns: 50% 50%;
	grid-template-rows: 25% 50px auto 25%;
	/* row-gap: 10px; */
	/*column-gap: 10px;*/
	height: 100%;
	width: 100vw;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* This encompasses header-inner and navigation */
.header {
	grid-area: header;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	box-sizing: border-box;
}

/* This contains the username, logout buttons */
.main-content-inner {
	margin-right: 0px;
}

.header-welcome-box {
	font-size: 3em;
}

.header-username {
	/* font-family: "Cinzel", serif; */
	font-size: 1.5em;
}

/* Navigation mockup used on main-view-2 nmfull */
.navigation-bar {
	grid-area: navigation;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-end;
	column-gap: 40px;
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 30px;
}

.navigation-link {
	font-size: 2rem;
	margin-bottom: 0;
	box-sizing: border-box;
}

.navigation-link:hover {
	cursor: pointer;
}

.settings {
	text-align: end;
	flex-grow: 2;
}

.navigation-bar a {
	text-decoration: none;
}

#logout-button {
	color: var(--light-element);
	font-size: 2.5rem;
	width: 200px;
}

#logout-button {
	width: 240px;
	font-size: 2.5rem;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.main-page-content {
	grid-area: main;
	width: 100%;
	margin: auto;
	padding-top: 20px;
	box-sizing: border-box;
}

.main-upper-buttons {
	display: flex;
	flex-direction: column;
}

#main-theme-button {
	width: 240px;
	height: 3rem;
	font-size: 1.5rem;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

/* End main-view-2 */

/* not-found-view stying nfvfull */

.not-found-outer-container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-image: url("../image/Background_image-01.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.not-found-inner-container {
	height: 80%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.not-found-box {
	width: 80%;
	text-align: center;
}

.not-found-header {
	font-size: 60px;
	margin-bottom: 60px;
}

.not-found-description {
	font-size: 36px;
	margin-bottom: 60px;
	line-height: 60px;
}

.not-found-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.not-found-home-button {
	display: flex;
	height: 84px;
	width: 40%;
	border-radius: 60px;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.not-found-home-text {
	font-size: 60px;
}

.not-found-home-description {
	font-size: 16px;
}

/* end not-found-view */

/* ACCOUNT_LIST alfull */
.account-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	width: auto;
}

.account_list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-y: auto;
	width: 47%;
	margin-left: 0px;
	box-sizing: border-box;
	margin-left: 10px;
}

.account_item {
	border: 2px solid black;
	border-radius: 10px;
	margin-bottom: 4px;
	height: 120px;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	box-sizing: border-box;
}

.account_item:hover {
	cursor: pointer;
}

.account_item_info {
	display: flex;
	height: 100%;
}

.account_name {
	width: 100%;
	height: 50%;
	font-size: 24px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.account_name > p {
	margin: auto;
	padding-top: 6px;
	padding-left: 6px;
}

.account_type {
	width: 36px;
	border: 1px solid black;
	border-bottom: 0;
	border-left: 0;
	position: relative;
	margin-bottom: 0;
}

.account_type > p {
	transform: rotate(-90deg);
	font-size: 16px;
	margin: auto;
	position: absolute;
	bottom: 30px;
	left: -16px;
	padding: 0;
	text-align: left;
}

.account_balance {
	text-align: right;
	width: 100%;
	border-top: 1px solid black;
	position: relative;
}

.account_balance > * {
	font-size: 48px;
	margin: auto;
	position: absolute;
	right: 8px;
	bottom: 0;
}

.account-additional-options option {
	font-family: "Arial";
}

#selectFilter {
	margin-left: 12%;
	height: 36px;
	width: 120px;
	text-align: center;
	font-family: "Arial";
	font-weight: 700;
	border-radius: 20px;
}

#selectAccount {
	margin: 0 0 12px 12px;
	height: 18px;
	width: 180px;
	text-align: center;
	font-family: "Arial";
	font-weight: 700;
	border-radius: 20px;
}

#selectFilter:focus,
#selectAccount:focus {
	border-radius: 20px 20px 0 0;
}

.deposit-form,
.withdraw-form {
	display: flex;
	flex-direction: column;
	height: 150px;
	align-items: center;
	justify-content: center;
}

.transfer-form {
	display: flex;
	flex-direction: column;
	height: 270px;
	align-items: center;
	justify-content: center;
}

#deposit-inner-form,
#withdraw-inner-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

#transfer-inner-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-items: flex-end;
}

.transfer-from-account label,
.transfer-to-account label {
	font-size: 18px;
}

.deposit-form-header,
.withdraw-form-header,
.transfer-form-header {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin-top: 0px;
}

.deposit-amount,
.withdraw-amount {
	font-size: 18px;
	width: 100%;
	text-align: center;
	margin-bottom: 6px;
}

.transfer-amount {
	font-size: 18px;
	width: 100%;
	text-align: center;
	margin-bottom: 12px;
}

.transfer-description {
	display: flex;
	flex-direction: column;
	margin-bottom: 6px;
}

.transfer-description label {
	font-size: 18px;
	margin-bottom: 6px;
}

.deposit-amount label,
.withdraw-amount label,
.transfer-amount label {
	margin-right: 12px;
}

.deposit-form button,
.withdraw-form button,
.transfer-form button {
	height: 30px;
	width: 100%;
	font-size: 18px;
	justify-self: center;
}

/* CREATE_ACCOUNT cafull */
.create-account-inner-container {
	display: flex;
	justify-content: center;
}

.account_create_form {
	border-radius: 10px;
	width: 480px;
	height: 360px;
	display: flex;
	flex-flow: column;
	justify-content: left;
	align-items: left;
}

.account_create_form_header {
	font-size: 32px;
	font-weight: bolder;
	margin: 18px 2px 2px 2px;
	align-self: center;
}

.account_create_name {
	font-weight: 700;
	margin: 20px;
	display: flex;
	flex-flow: column;
	align-items: left;
	font-size: 22px;
	font-weight: bold;
}

.account_create_name label {
	margin-bottom: 6px;
}

.account_create_radio_button_group {
	display: flex;
	flex-flow: column;
	align-items: left;
	margin: 20px;
}

.account_create_type_header {
	margin: 2px;
	font-size: 22px;
	font-weight: bold;
}

.account_create_radio_button {
	font-size: 18px;
	margin: 8px;
	text-transform: uppercase;
	padding-left: 0;
}

.account_create_radio_button input {
	margin-right: 20px;
}

.account_create_submit_button {
	align-self: center;
	width: 80%;
	height: 48px;
}

.account_create_submit_button:hover {
	cursor: pointer;
}

.account-additional-options {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.account-option {
	width: 95px;
	height: 30px;
	font-size: 1.2em;
	margin-right: 12px;
}

.account-options-container {
	border-radius: 10px;
	padding: 5px;
	box-sizing: border-box;
}

#account-display-header {
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
}

.no-account-message {
	font-size: 3vh;
	margin-left: 120px;
	font-weight: 700;
}

/* Transaction stuff */
.transaction-container {
	display: block;
	position: relative;
}

.transfer-form {
	width: 50%;
	margin: auto;
}

.transaction-container {
	width: auto;
}

.transaction-inner-container {
	display: flex;
	justify-content: center;
}

.transaction_table {
	text-overflow: ellipsis;
	table-layout: fixed;
	border-collapse: collapse;
}

#transaction-list {
	border-radius: 10px;
	margin-top: 18px;
}

td,
th {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 12px;
	margin: auto;
	text-align: center;
}

td {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.positive_balance,
.negative_balance {
	font-weight: 900;
}

#header_date {
	width: 20%;
}

#header_description {
	width: 50%;
}

#header_amount {
	width: 15%;
}

#header_balance {
	width: 15%;
}

/* 
--------------------------------
Media queries for reactive views mqfull 
--------------------------------
*/
@media only screen and (max-height: 900px) {
	.login-outer-container input[type="text"],
	.login-outer-container input[type="password"] {
		height: 4vh;
		margin-bottom: 12px;
	}

	#register-button {
		height: 48px;
	}

	.error-container {
		margin-bottom: 12px;
	}

	#register-theme-button {
		left: 60%;
		width: 180px;
	}
}

@media only screen and (max-width: 1300px) {
	.navigation-link {
		font-size: 24px;
		font-weight: 700;
	}
}

@media only screen and (max-width: 1080px) {
	/* splash page 1080px sv1080 */

	#splash-inner-container {
		margin: auto;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 80vw;
	}

	#splash-right {
		height: auto;
		margin: 60px 0 0 0;
	}

	.logo-bigger {
		font-size: 6em;
		margin: 0;
	}

	#welcome {
		font-size: 48px;
		font-weight: 700;
	}

	#splash button,
	#splash-button input[type="submit"] {
		width: 60%;
		height: 60px;
		border-radius: 20px;
		font-size: 3em;
	}

	#register-here {
		display: block;
		margin-top: 12px;
	}

	.navigation-link {
		font-size: 18px;
	}

	.navigation-bar {
		column-gap: 24px;
	}

	/* login view 1080px lv1080 */
	.login-inner-container {
		width: 80%;
	}
}

@media only screen and (max-width: 720px) {
	html {
		font-size: 1.2vh;
	}

	/* splash view 720px sv720 */

	#splash-inner-container {
		box-sizing: border-box;
		text-align: center;
		flex-direction: column;
	}

	.logo-bigger {
		font-size: 5em;
	}

	#welcome {
		font-size: 3em;
	}

	#splash button,
	#splash-button input[type="submit"] {
		width: 60%;
		height: 48px;
		border-radius: 12px;
		font-size: 2em;
	}

	#register {
		font-size: 2em;
	}

	/* login view 720px lv720 */
	.login-inner-container {
		width: 100%;
	}

	/* registration 720px reg720 */

	#registration-name-boxes {
		display: flex;
		flex-direction: column;
	}

	#box-L {
		margin-bottom: 10px;
	}

	.logo-smaller {
		font-size: 4em;
	}

	.reg-name-box {
		width: 100%;
	}

	input[type="text"],
	input[type="password"] {
		font-size: 1.5vh;
		font-weight: 700;
	}
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 1vh;
	}

	/* splash view 600px sv600 */

	#splash-inner-container {
		box-sizing: border-box;
		text-align: center;
		flex-direction: column;
	}

	.logo-bigger {
		font-size: 4.5em;
	}

	#splash-right {
		padding: 0px;
	}

	/* registration 600px reg600 */

	#registration-name-boxes {
		display: flex;
		flex-direction: column;
	}

	#box-L {
		margin-bottom: 10px;
	}

	.reg-name-box {
		width: 100%;
	}

	.logo-smaller {
		font-size: 4vh;
	}

	input[type="text"],
	input[type="password"] {
		font-size: 1.5vh;
		font-weight: 700;
	}
}

/*
CHATBOT STYLING BELOW 
The chatbot styling came with already pre-styled elements already when installed. 
So there had to be overrides on the containers to get the theme we were aiming for
*/

.benjamin {
	/* display: none; */
	font-size: 14px;
	position: absolute;
	bottom: 36px;
	right: 24px;
	align-items: center;
	text-align: center;
	max-width: 480px;
}

.benjamin-container {
	max-height: 60vh;
	overflow-y: auto;
}

.chatbot-box {
	border-radius: 0 0 18px 18px;
}

#chatbot-title {
	margin-top: 24px;
	text-transform: uppercase;
}

.react-chatbot-kit-chat-container {
	border-radius: 0 0 18px 18px;
}

.react-chatbot-kit-chat-header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	margin-bottom: 18px;
	height: 72px;
}

.react-chatbot-kit-chat-message-container {
	margin: 12px 36px;
	line-height: 30px;
}

.react-chatbot-kit-chat-bot-message-container {
	background-color: none;
}

.react-chatbot-kit-chat-bot-message {
	font-size: 18px;
}

.options-container {
	margin: 18px 0;
	display: flex;
	flex-direction: column;
}

.option-button {
	margin-top: 6px;
	padding: 6px;
	font-size: 18px;
	height: 36px;
	width: 100%;
	font-weight: 600;
	border: none;
	border-radius: 10px;
}

.option-button:hover {
	cursor: pointer;
}

.react-chatbot-kit-chat-input-container {
	width: 100%;
}

.react-chatbot-kit-chat-input {
	font-size: 18px;
	width: 85%;
	border: none;
	border-bottom-left-radius: 12px;
	padding-left: 12px;
}

.react-chatbot-kit-chat-input-form {
	display: flex;
	width: 100%;
}

.react-chatbot-kit-chat-btn-send {
	height: auto;
	border-radius: 0 0 12px 0;
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	width: 15%;
	border: none;
	object-fit: fill;
}

.react-chatbot-kit-chat-btn-send:hover {
	cursor: pointer;
}

.react-chatbot-kit-chat-btn-send svg {
	width: 30px;
}

.react-chatbot-kit-chat-bot-avatar-container {
	display: none;
}

.react-chatbot-kit-user-chat-message-container {
	margin-top: 12px;
}

.react-chatbot-kit-user-chat-message {
	font-size: 24px;
	margin-bottom: 24px;
}

.react-chatbot-kit-user-avatar {
	width: 100%;
	height: 240px;
}

.react-chatbot-kit-user-avatar {
	display: block;
	width: 70%;
	height: 210px;
	margin: auto;
}

.info-list-container {
	height: 240px;
	overflow-y: scroll;
	width: 100%;
	overflow-wrap: break-word;
	line-height: 24px;
	margin: 18px 0;
}

.info-list-container li {
	margin-bottom: 18px;
}

.atm_list {
	height: 240px;
	overflow-y: scroll;
}

.atmInfo ul {
	padding-left: 0;
}

.atm-column {
	width: 100%;
}

.questions-container {
	margin-bottom: 24px;
}

.questions-container h4 {
	font-size: 18px;
}

.questions-container ul,
.questions-container ol {
	padding-left: 0;
}

.questions-container li {
	font-weight: 600;
	text-align: left;
	padding-left: 18px;
	margin-left: 36px;
}

.read-more-link {
	height: 36px;
	width: 100%;
	font-size: 18px;
	height: 36px;
	border: none;
	border-radius: 12px;
}

.read-more-link h2 {
	margin: 0;
}

.extra-content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 240px;
	overflow-y: scroll;
	margin-top: 24px;
}

.extra-content-container li {
	font-weight: 600;
	text-align: left;
	padding-left: 18px;
}

#chatbot-faq-create-account-header {
	margin: 12px 0 0 30px;
}

.extra-content {
	margin-top: 6px;
}

/* Benjamin Popup Styling */
#popup-2 {
	margin: auto;
	width: 360px;
	padding: 5px;
}

#popup-2[style] {
	top: auto !important;
	bottom: 48px;
	left: auto !important;
	right: 24px;
}

.popup-arrow {
	display: none;
}
