#register-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
}

.password-error {
	border: 1px solid red;
}

.password-ok {
	border: 1px solid black;
}

body {
	background-image: url("");
}
