#register-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	background-color: #3d703a;
	padding: 30px;
	border-radius: 20px;
}

.password-error {
	border: 1px solid red;
}

.password-ok {
	border: 1px solid black;
}
