#splash-container {
	width: 100%;
	background-color: #3d703a;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10vh;
}

#splash-right {
	padding: 30px;
	font-family: "Arial";
}

button {
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: -5px 5px 0px 1px #d3a940;
	color: #3e4f3d;
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
}

body {
	color: #ffffff;
	width: 100%;
	height: 100%;
}

a {
	color: #d3a940;
}

#welcome {
	font-size: 4em; /* ~48px */
}

#register {
	font-size: 3em; /* ~36px */
}

html {
	font-size: 12px;
}
