body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    text-align: center;
}

.small-font {
    font-size: 18px;
}

.qr-image {
    width: 40%;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 15px auto;
    font-size: 24px;
    background-color: #d3a940;
    color: #fff;
}

.btn-modal:hover {
	text-shadow: 0px 0px 1px #000000;
	background-size: 75%;
} 

.otp-input {
    justify-content: center;
    margin: 10px 0 50px 0;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 10px;
    text-align: right;
}